.slider-wrapper {
  width: 760px;
  margin: auto;
}
.slick-slide {
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.slick-slide-thumbnails {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.slick-slide:focus {
  outline: none;
}
.slick-slide-title {
  text-transform: capitalize;
  font-family: 'Spartan', sans-serif;
  font-weight: 800;
  color: rgba(0,63,111,1);
}

.slick-slide-image {
  width: 35%;
  height: auto;
  margin: 0 auto;
  padding-left: 1.3%; 
}
.slick-slide-thumbnail-image {
  width: 40% !important;
  height: auto;
  border-radius: 8px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.thumbnail-image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slick-slide-label {
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0px;
  font-size: 1.5em;
  bottom: 0px;
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: #777777;
}

.slick-arrow {
  opacity: 100% !important;
}

.slick-prev {
  left: -48px !important;
  top: 255px !important;
  opacity: 50% !important;
}

.slick-next {
  left: 778px !important;
  top: 255px !important;
  opacity: 50% !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}


.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}