.slider-wrapper {
  width: 760px;
  margin: auto;
  margin-top: 3%;
}
.slick-slide {
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.large-slide-container {
  position: relative;
  display: block;
}


.slick-slide:focus {
  outline: none;
}

.slick-slide-thumbnails {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.slick-slide-thumbnail-image {
  width: 37% !important;
  height: auto;
  border-radius: 8px;
}
.thumbnail-image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #777777;
}
.slick-next:before,
.slick-prev:before {
  /* content: "" !important; */
  opacity: 0 !important;
}
.slick-arrow {
  opacity: 0 !important;
}

.slick-prev {
  left: -28px !important;
  top: 190px !important;
  opacity: 1 !important;
}
.slick-next {
  left: 758px !important;
  top: 190px !important;
  opacity: 1 !important;
}



.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}





.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  position: relative;
}
.slick-slide-image {
  width: 35%;
  height: auto;
  margin-left: 2.8%;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-direction: column; 
  margin-top: 6%;
  margin-left: 3%;
}
.slick-slide-title {
  text-transform: capitalize;
  font-family: 'Spartan', sans-serif;
  font-weight: 800;
  color: rgba(0,63,111,1);
  text-align: left;
  margin-left: 3.2%;
  margin-bottom: 2%;
}
.slick-slide-label {
  text-transform: capitalize;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  color: rgba(0,63,111,1);
  text-align: left;
  margin-left: 3.3%;
  margin-bottom: 25%;
  font-style: italic;
  font-size: 14px;
}

.qr-code-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}
.qr-code-image {
  height: 80px;
  margin-right: 3%;
  margin-left: 0%;
}
.qr-code-text {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: rgba(0,63,111,1);
  text-align: left;
}


.three-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.refresh-icon-image {
  height: 45px;
  margin: 10px;
  padding-right: 8%;
}
.responsive-icon-image {
  height: 40px;
  margin: 10px;
  padding-right: 8%;
}
.rotate-icon-image {
  height: 55px;
  margin: 10px;
}